* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

img {
    width: 50%;
}

.coreografia {
    display: inline-block;    height: auto;
    width: 250px;
    margin: 10px;
    padding: 15px;
    border: 2px solid #ff0000;
    border-radius: 10px;
    text-align: center;
    background-color: whitesmoke;
    transition: 0.3;
}

.coreografia:hover {
    transform: scale(105%);
    color: blue;
    border-color: rgb(58, 48, 206);
    transition: 0.3s;
}

.coreografia img {
    width: 200px;
    height: 100%;
    border-radius: 10px;
    object-fit: contain;
}
